@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%; /* para que nuestra página ocupe el 100% de la altura disponible */
  scroll-behavior: smooth;
}

body {
  font-size: 1.2rem;
  padding: 1rem;
  min-height: 100%; /* para que nuestra página ocupe el 100% de la altura disponible */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
  padding: 0.5em 0;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.9rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.2rem;
}

.contenedor-grid > * {
  /* aplicamos estilos a todos los hijos del contenedor-grid (body) */
  padding: 1rem;
  text-align: center;
}

.navbar {
  grid-area: navbar;
  background-color: var(--dark-container-color);
}


.main {
  grid-area: main;
  background-color: var(--azul-indigo);
}
.aside {
  grid-area: aside;
  background-color: var(--rojo-oscuro);
}
.footer {
  grid-area: footer;
  background-color: var(--verde-oliva);
}

.contenedor-grid {
  display: grid;
  gap: 1rem;
  /* Plantilla del CSS Grid. Versión pequeña, para móviles */
  grid-template: 
    /* El orden de esta lista afecta directamente a la ubicación de los contenedores correspondientes */
    "header"
    "navbar"
    "main"
    "aside"
    "footer";
}

/* Para tablet */
@media (min-width: 600px) {
  .contenedor-grid {
    /*  
    grid-template-columns: 200px auto;
    grid-template-rows: 100px 50px auto 100px;
    /* Áreas del CSS Grid. * /
    grid-template-areas: 
            /* El orden de esta lista afecta directamente a la ubicación de los contenedores correspondientes * /
      "header   header"
      "navbar   navbar"
      "aside    main"
      "footer   footer ";
    */
    grid-template:
      "header header" 100px
      "navbar navbar" 50px
      "aside  main" auto
      "footer footer" 100px /
      200px auto;

    /* EXPLICACIÓN LÍNEA POR LÍNEA: */
    /* Establecemos dos columnas ocupadas por el mismo contenedor y le damos una altura de 100px. */
    /* Si queremos una columna/celda vacía, sólo debemos poner un punto (.) en la posición correspondiente  */
    /*  */
    /*  */
    /* Establecemos el ancho de las dos columnas. Importante la barra inclinada para separar la especificación de las filas y las columnas */
  }

  .header {
    flex-direction: row;
  }

  .header .logo {
    max-height: 100%;
  }
  .navbar {
    padding: 0;
  }
  ul.menu {
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

/* Para escritorio */
@media (min-width: 900px) {
  .contenedor-grid {
    grid-template:
      "header header  header" 100px
      "navbar main    aside" auto
      "footer footer  footer" 100px /
      200px auto 200px;

    /* EXPLICACIÓN LÍNEA POR LÍNEA: */
    /* Establecemos dos columnas ocupadas por el mismo contenedor y le damos una altura de 100px. */
    /* Si queremos una columna/celda vacía, sólo debemos poner un punto (.) en la posición correspondiente  */
    /*  */
    /*  */
    /* Establecemos el ancho de las dos columnas. Importante la barra inclinada para separar la especificación de las filas y las columnas */
  }

  ul.menu {
    flex-direction: column;
  }
}
