.header {
  grid-area: header; /* establecemos el area a la que se corresponde */
  background-color: var(--violeta-oscuro);

  /* flexbox */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1, 2;
  flex-shrink: 1;
}

.header .logo {
  height: 7rem;
  max-width: 100%;
  padding: 0.2rem;
}

.header h1 {
  flex-grow: 1; /* Le permitimos crecer a lo ancho */
}

/* Para tablet */
@media (min-width: 600px) {
  .header {
    flex-direction: row;
  }

  .header .logo {
    max-height: 100%;
  }
}

/* Para escritorio */
@media (min-width: 900px) {
}
