
ul.menu {
  display: flex;
  flex-direction: column;
  padding: 1em;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

ul.menu li {
  padding: 0.5em 1em;
}

ul.menu li a {
  color: var(--dark-main-color);
  display: block;
  text-decoration: none;
  border-bottom: 0.2em solid var(--dark-border-link-hidden);
}

ul.menu li a:hover {
  border-bottom: 0.2em solid var(--dark-border-link-visible);
}

/* Para tablet */
@media (min-width: 600px) {
  .navbar {
    padding: 0;
  }
  ul.menu {
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

/* Para escritorio */
@media (min-width: 900px) {
  ul.menu {
    flex-direction: column;
  }
}
